@typeparam T

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-5">
    <div class="d-flex justify-space-between align-center">
        <MudText Typo="Typo.h5" Class="mb-10">Visão geral</MudText>
        <MudFab Icon="@Icons.Material.Filled.ArrowBack" Label="Voltar" @onclick="@(() => NavigationManager.NavigateTo("admin"))" />
    </div>
    <MudPaper Elevation="1" Width="100%" MaxWidth="300px" Height="130px" Class="d-flex flex-column justify-center align-center pa-10">
        <MudText Typo="Typo.h6">Total de @EntityName</MudText>
        <MudText Typo="Typo.h4"><b>@Items.Count</b></MudText>
    </MudPaper>
</MudContainer>

<MudContainer Class="mt-5">
    <div class="d-flex justify-space-between">
        <MudText Typo="Typo.h5" Class="mb-10">@EntityName</MudText>
        <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" Label="Cadastrar novo item" Class="ma-2" @onclick="CallBack" />
    </div>
    <MudExpansionPanels DisableBorders="true" Elevation="0" Class="mb-10">
        @ChildContent
    </MudExpansionPanels>

</MudContainer>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public List<T> Items { get; set; }

    [Parameter]
    public string EntityName { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback CreateCallBack { get; set; }

    async void CallBack()
    {
        await CreateCallBack.InvokeAsync();
    }
}
